@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,900;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: poppins,sans-serif;
}
body{
    /* background-image: linear-gradient(-90deg, red, blue); */
    /* background: linear-gradient(to bottom, #ff0000, #00ff00); */
    /* background: linear-gradient(to right, #e04646, #010801 ,#0000ff); */
    /* background: linear-gradient(to right,#f04b4b 0%, #3f493f 50%,#0000ff 100%); */
    
    /* background: linear-gradient(to bottom right,#ff0000 , #00ff00,#0000ff ); */
    background: linear-gradient(45deg,purple,red);

}

.container{
    min-height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.profile_card{
    min-height: 400px;
    width: 400px;
    position: relative;
    background: #111111;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    margin: 15px;
    border-radius: 10px;
    color: #ffffff;
    flex-direction: column;
}
.profile_card .profile_pic{
    margin-top: 15px;
    overflow: hidden;
}
.profile_card .profile_pic img{
    border-radius: 10px;
    width: 400px;
}

.profile_card .profile_details{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.profile_details .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile_details .intro h2{
    margin-top: 20px;

}
.profile_details .intro h4{
    background: #1d1d1d;
    font-weight: 400;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 8px;
}
.profile_details .intro .social{
    margin-top: 10px;
    margin-bottom: 25px;
}
.profile_details .intro .social i{
    color: #ddd;
    font-size: 16px;
    background: #222;
    margin: 5px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}
.profile_details .intro .social i:hover{
    transform: scale(1.2);
    border: 1px solid rgba(255,255,255,0.3);
}
.profile_details .contact-info{
    width: 100%;
    background-color: #1d1d1d;
    padding: 15px;
    border-radius: 10px;

}
.profile_details .contact-info .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 10px 0;
    margin-bottom: 10px;
}
.contact-info .row .icon{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #111;
    text-align: center;
    color: #ffff;
    transition: 0.5s;
}
.row .icon:hover{
    transform: scale(1.2);
    border: 1px solid rgba(255,255,255,0.1);
}
.row .content{
    min-width: 70%;

}
.row .content span{
    font-size: 12px;
}
.download_btn{
    background: linear-gradient(45deg,#f64c57,#e21b5a);
    color: #fff;
    padding: 1rem  3rem;
    border-radius: 30px;
    margin-top: 1.5rem;
    border: none;
}
.download_btn a{
    color: #ffff;
}

.download_btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
    border: 1px solid rgba(255,255,255,0.3);
    background: #111;
}

.about{
    background-color: #111;
    max-width: 800px;
    padding: 2rem 3rem;
    border-radius: 10px;
}

.about h1{
    color: #f2f2f2;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
}
.about h1::after{
    position:absolute;
    content: "";
    top: 50%;
    right: -50%;
    width: 45%;
    height: 3px;
    background: linear-gradient(45deg,#f64c57,#e21b5a);
}
.about h2{
    color: #f2f2f2;
    font-size: 2rem;
    margin: 0.5rem 0;
}
.about p{
    color: #555;
    margin: 1.5rem 0;
}
.about .work{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.work .workbox{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    border: 1rem;
    margin: 1rem;
}
.work .workbox .desc{
    width: 75%;
    color: #555;
}
.work .workbox .desc h3{
    color: #f2f2f2;
    font-weight: 600;
}
.work .workbox .desc p{
    margin: 0px;
}

@media(max-width:768px){
    .about{
        width: 1005;
        max-width: 400px;
        padding: 1rem;
        margin: 1rem;
    }
    .about h1{
        font-size: 2.2rem;
    }
    .about .work{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,auto);
    }
}